body {
    background-image: linear-gradient(225deg,
    hsl(120deg 8% 12%) 0%,
    hsl(129deg 8% 13%) 11%,
    hsl(136deg 8% 14%) 22%,
    hsl(142deg 9% 15%) 33%,
    hsl(147deg 9% 16%) 44%,
    hsl(152deg 9% 17%) 56%,
    hsl(156deg 9% 18%) 67%,
    hsl(160deg 9% 19%) 78%,
    hsl(163deg 9% 20%) 89%,
    hsl(167deg 8% 21%) 100%);
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
}

.sun {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(45deg,
    hsl(28deg 100% 55%) 0%,
    hsl(32deg 100% 54%) 11%,
    hsl(36deg 100% 51%) 22%,
    hsl(39deg 100% 50%) 33%,
    hsl(42deg 100% 50%) 44%,
    hsl(44deg 100% 50%) 56%,
    hsl(47deg 100% 50%) 67%,
    hsl(50deg 100% 50%) 78%,
    hsl(52deg 100% 50%) 89%,
    hsl(55deg 100% 50%) 100%);
}

.sun:hover {
    box-shadow: 0px 0px 20px 2px rgba(20, 20, 20, 1);
}

.earth {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(
        45deg,
        hsl(125deg 92% 29%) 0%,
        hsl(144deg 100% 29%) 9%,
        hsl(155deg 100% 29%) 18%,
        hsl(162deg 92% 31%) 27%,
        hsl(172deg 100% 30%) 36%,
        hsl(183deg 100% 34%) 45%,
        hsl(192deg 100% 41%) 55%,
        hsl(197deg 100% 47%) 64%,
        hsl(196deg 100% 50%) 73%,
        hsl(190deg 100% 50%) 82%,
        hsl(184deg 100% 48%) 91%,
        rgb(76, 250, 236) 100%
);
}

.earth:hover {
    box-shadow: 0px 0px 20px 2px rgba(20, 20, 20, 1);
}


.moon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(
        45deg,
        hsl(127deg 5% 33%) 0%,
        hsl(150deg 5% 41%) 10%,
        hsl(165deg 5% 51%) 20%,
        hsl(177deg 5% 60%) 30%,
        hsl(187deg 6% 71%) 40%,
        hsl(195deg 8% 81%) 50%,
        hsl(195deg 8% 84%) 60%,
        hsl(195deg 7% 86%) 70%,
        hsl(195deg 5% 88%) 80%,
        hsl(195deg 3% 91%) 90%,
        hsl(0deg 0% 93%) 100%
);
}

.moon:hover {
    box-shadow: 0px 0px 20px 2px rgba(20, 20, 20, 1);
}

.flex-planets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.flex-text {
    display: flex;
    /* align-items: center; */
}

.btn-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}

.btn-style {
    border: rgb(180, 176, 176) 1px solid;
    background-color: rgba(180, 176, 176, 0);
    color: rgba(180, 176, 176, .5);
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 50px;
    width: 200px;
    margin-bottom: 10px;
}

.btn-style:hover {
    box-shadow: 0px 0px 20px 2px rgba(20, 20, 20, 1)
}

.input {
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: sans-serif;
}